# eclipse
bin
*.launch
.settings
.metadata
eclipse
.debris

# idea
out
.idea
*.iws
*.iml
*.ipr

.DS_Store

# gradle
build
.gradle

# build
asm
config
logs
options.txt
libs
saves
usernamecache.json
crash-report
crash-reports

# other
run
lib
*.iws___jb_tmp___
*.directory
classes
runserver
buildtotest.bat

src/main/java/train/common/api/TrainsOnClick.java
