# eclipse
bin
*.launch
.settings
.metadata
eclipse

# idea
out
.idea
*.iws
*.iml
*.ipr

# gradle
build
.gradle

# build
asm
config
logs
options.txt
saves
usernamecache.json
crash-report
crash-reports

# other
run
lib